<div class='container'>
  <div class='row'>
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">


        <h3 class="m-3">商品情報編集</h2>
        
        <%= form_with model: [:admin, @item], local: true do |f| %>

          <div class="field m-2">
            <%= f.label :name, "商品名　　" %><%= f.text_field :name, autofocus: true %>
          </div>
        
          <div class="field m-2">
            <%= f.label :introduction,"商品詳細　" %><%= f.text_area :introduction, autofocus: true %>
          </div>
        
          <div class="field m-2">
            <%= f.label :price, "値段　　　" %><%= f.number_field :price, autofocus: true %>
          </div>
          
          <div class="field m-2">
            <%= f.label :genre_id, "ジャンル　　　　" %><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
          </div>
        
          <div class="field m-2">
            <%= f.label :is_active, "販売ステータス", class: "mr-3" %><%= f.radio_button :is_active, :true, checked: true %> <span class="text-secondary mr-3">販売中</span>
            <%= f.radio_button :is_active, :false %> <span class="text-secondary">販売停止中</span>
          </div>
        
          <span class="actions">
            <%= f.submit "変更内容を保存", class: "btn btn-success m-3" %>
          </span>
        
        <% end %>

    </div>
  </div>
</div>