<div class="container">
  <dvi class="row">
    <div class="col-2"></div>
    <div class="col-2 bg-light h4">注文情報確認</div>
  </dvi>

  <div class="row">
    <div class="col">
      <table class="table mt-4 table-bordered">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% total_cost = 0 %>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <th><%= attachment_image_tag cart_item.item, :image, :fill, 50, 40 %><span class="mx-3"><%= cart_item.item.name %></span></th>
                <td><%= cart_item.item.with_tax_price %></td>
                <td><%= cart_item.amount %></td>
                <td><%= cart_item.subtotal %></td>
                <% total_cost += cart_item.subtotal %>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>

    <div class="col">
      <div class="table-responsive mt-4">
        <table class="table table-bordered">
          <td>送料　 </td>
          <th><%= @order.shipping_cost %></th>
        </table>
        <table class="table table-bordered">
          <td>商品合計</td>
          <th><%= total_cost %></th>
        </table>
        <table class="table table-bordered">
          <td>請求金額</td>
          <th><%= @order.total_payment = total_cost + @order.shipping_cost %></th>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="row mt-3">
      <div class="ml-5 font-weight-bold h4 col mr-2">支払い方法</div><div class="mt-2"><%= Order.payment_methods_i18n[@order.payment_method] %></div>
    </div>
  </div>

  <div class="row">
    <div class="row mt-3">
      <div class="ml-5 font-weight-bold h4 col mr-2">お届け先</div>
      <div class="mt-2">
        <%= '〒' + @order.postal_code + ' ' + @order.address %></br>
        <%= @order.name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="m-5 col">
      <%= form_with model: @order, url: "/orders", method: :post do |f| %>
      <%= f.hidden_field :customer_id,    value: @order.customer_id %>
      <%= f.hidden_field :postal_code,    value: @order.postal_code %>
      <%= f.hidden_field :address,        value: @order.address %>
      <%= f.hidden_field :name,           value: @order.name %>
      <%= f.hidden_field :shipping_cost,  value: @order.shipping_cost %>
      <%= f.hidden_field :total_payment,  value: @order.total_payment %>
      <%= f.hidden_field :payment_method, value: @order.payment_method %>
      <%= f.submit "注文を確定する", class: "btn btn-success", data: { confirm: "注文を確定しますか？" } %>
      <% end %>
    </div>
  </div>
</div>